<app-header></app-header>
<app-menu></app-menu>
<section>
  <div class="card mb-3">
    <i
      class="fa fa-plus agregar"
      *ngIf="logueado()"
      (click)="openModalCreate(createProfileModal)"
    ></i>
    <h1 class="ms-3">Hard Skills & Softs Skills</h1>
    <div *ngFor="let skill of skills">
      <h3 class="text-center">{{ skill.titulo }}</h3>
      <i
        class="fa fa-pencil editar"
        *ngIf="logueado()"
        (click)="openModal(editProfileModal, skill)"
      ></i>
      <i
        class="fa fa-trash editar"
        *ngIf="logueado()"
        (click)="eliminar(skill.id)"
      ></i>
      <div class="text-center">
        <div class="progress center-block" style="width: 50%">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated {{
              skill.color
            }}"
            role="progressbar"
            [style.width.%]="skill.cantidad"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            {{ skill.cantidad }}%
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #editProfileModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Editar</h5>
    <button
      type="button"
      class="close"
      (click)="modal.dismiss()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmitEdit()">
      <div class="form-group row">
        <label for="id" class="col-sm-4 col-form-label">Id</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="id"
            id="id"
            readonly
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="titulo" class="col-sm-4 col-form-label">Titulo</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="titulo"
            id="titulo"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="color" class="col-sm-4 col-form-label">Color</label>
        <div class="col-sm-8">
          <br />
          <select name="color" formControlName="color">
            <option value="bg-primary">Azul</option>
            <option value="bg-success">Verde</option>
            <option value="bg-danger">Rojo</option>
            <option value="bg-dark">Negro</option>
            <option value="bg-warning">Naranja</option></select
          ><br />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label for="cantidad" class="col-sm-4 col-form-label">Porcentaje</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="cantidad"
            id="cantidad"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="modal.dismiss()"
        >
          Cerrar
        </button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #createProfileModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="createProfileLabel">Cargar Nueva Habilidad</h5>
    <button
      type="button"
      class="close"
      (click)="modal.dismiss()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="createProfileForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="titulo" class="col-sm-4 col-form-label">Titulo</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="titulo"
            id="titulo"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="color" class="col-sm-4 col-form-label">Color</label>
        <div class="col-sm-8">
          <br />
          <select name="color" formControlName="color">
            <option value="bg-primary">Azul</option>
            <option value="bg-success">Verde</option>
            <option value="bg-danger">Rojo</option>
            <option value="bg-dark">Negro</option>
            <option value="bg-warning">Naranja</option></select
          ><br />
        </div>
      </div>
      <br />
      <div class="form-group row">
        <label for="cantidad" class="col-sm-4 col-form-label">Porcentaje</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            formControlName="cantidad"
            id="cantidad"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="modal.dismiss()"
        >
          Cerrar
        </button>
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>
    </form>
  </div>
</ng-template>
