.progress { margin-left: auto; margin-right:auto; margin-bottom: 15px;}

#barra-progreso{
  width: 60%;
}


  
.agregar{
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 25px;
}
.editar{
  margin-right: 10px;
  float: right;
}

