<section>
  <div class="card mb-3 ml-4" id="proyectos">
    <h1>Proyectos</h1>
    <div class="ms-4">
      <h2>
        <a
          href="github.com/basco1979/gauchorocket"
          style="text-decoration: none"
          >Gaucho Rocket</a
        >
      </h2>
      <p>
        Sistema pensado para una empresa dedicada a gestionar viajes espaciales,
        permitiendo al usuario reservar, comprar y realizar el check-in. Con un
        usuario administrador con la posibilidad de realizar facturaciones y
        reportes.(PHP)
      </p>
    </div>
    <div class="ms-4">
      <h2>
        <a
          href="github.com/basco1979/taller-bacaro"
          style="text-decoration: none"
          >Taller Bacaro</a
        >
      </h2>
      <p>
        Sistema que realiza ordenes de reparacion y facturación, pensado para
        ser utilizado por empleados de un taller mecanico.(JAVA)
      </p>
    </div>
  </div>
</section>
