#proyectos{
    padding-left: 15px;
  }
  
  
  .agregar{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
  }
  .editar{
    margin-right: 10px;
    float: right;
  }
  
  