<header>
  <div class="card mb-3">
    <img
      src="../../assets/images/header.jpg"
      alt="header"
      width="100%"
      height="400px"
      id="imgHeader"
    />
    <img
      src="../../assets/images/perfil.jpg"
      alt="perfil"
      id="imgPerfil"
      width="100px"
      height="100px"
    />
    <div class="card-body" id="acerca-de">
      <h3 class="card-title">Sebastian Basconcelo</h3>
      <h5>Desarrollador Web</h5>
      <h5>
        Buenos Aires(Argentina)<a href="/info-contacto"
          >Informacion de contacto</a
        >
      </h5>
      <button type="button" class="btn btn-primary">Tengo Interes en</button>
      <button type="button" class="btn btn-ligth">Anadir Seccion</button>
      <button type="button" class="btn btn-ligth">Mas</button>
    </div>
  </div>
</header>
