<app-header></app-header>

<div class="container overflow-hidden text-center mb-3">
  <div class="row gy-5">
    <div class="col-2">
      <div class="p-2 border bg-light">
        <a routerLink="/acercade">
          <i class="fas fa-address-card menu-resp" style="font-size: 100px"></i
          ><span class="texto-debajo">Acerca De</span></a
        >
      </div>
    </div>
    <div class="col-2">
      <div class="p-2 border bg-light">
        <a routerLink="/experiencia">
          <i class="fas fa-book menu-resp" style="font-size: 100px"></i>
          <span class="texto-debajo">Experiencia</span></a
        >
      </div>
    </div>
    <div class="col-2">
      <div class="p-2 border bg-light">
        <a routerLink="/educacion">
          <i class="fas fa-user-graduate menu-resp" style="font-size: 100px"></i
          ><span class="texto-debajo">Educación</span></a
        >
      </div>
    </div>
    <div class="col-2">
      <div class="p-2 border bg-light">
        <a routerLink="/skills">
          <i class="fas fa-stream menu-resp" style="font-size: 100px"></i>
          <span class="texto-debajo">Skills</span></a
        >
      </div>
    </div>

    <div class="col-2">
      <div class="p-2 border bg-light">
        <a routerLink="/proyectos">
          <i class="fas fa-tasks menu-resp" style="font-size: 100px"></i>
          <span class="texto-debajo">Proyectos</span></a
        >
      </div>
    </div>
  </div>
</div>

<!-- <div class="container overflow-hidden text-center">
  <div class="row gy-5">
    <div class="col-4">
      <div class="p-2 border bg-light">
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#acercadeModal"
        >
          <i
            class="fas fa-address-card menu-resp"
            style="font-size: 100px"
          ></i></button
        ><span class="texto-debajo">Acerca De</span>
      </div>
    </div>
    <div class="col-4">
      <div class="p-2 border bg-light">
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#experienciaModal"
        >
          <i class="fas fa-book menu-resp" style="font-size: 100px"></i>
          <span class="texto-debajo">Experiencia</span>
        </button>
      </div>
    </div>
    <div class="col-4">
      <div class="p-2 border bg-light">
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#educacionModal"
        >
          <i class="fas fa-user-graduate menu-resp" style="font-size: 100px"></i
          ><span class="texto-debajo">Educación</span>
        </button>
      </div>
    </div>
  </div>
  <br />
  <div class="row gy-5">
    <div class="col-4">
      <div class="p-2 border bg-light">
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#skillsModal"
        >
          <i class="fas fa-stream menu-resp" style="font-size: 100px"></i>
          <span class="texto-debajo">Skills</span>
        </button>
      </div>
    </div>

    <div class="col-4">
      <div class="p-2 border bg-light">
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#proyectosModal"
        >
          <i class="fas fa-tasks menu-resp" style="font-size: 100px"></i>
          <span class="texto-debajo">Proyectos</span>
        </button>
      </div>
    </div>
  </div>
</div>

<app-editar-acercade></app-editar-acercade>
<app-editar-educacion></app-editar-educacion>
<app-editar-experiencia></app-editar-experiencia>
<app-editar-proyectos></app-editar-proyectos>
<app-editar-skills></app-editar-skills> -->
