<!-- <div class="menu">
  <li>
    <a href="/acercade">
      <i class="fas fa-address-card menu-resp" style="font-size: 120px"></i
      ><span class="texto-debajo">Acerca De</span></a
    >
  </li>
  <li>
    <a href="/experiencia">
      <i class="fas fa-book menu-resp" style="font-size: 120px"></i>
      <span class="texto-debajo">Experiencia</span>
    </a>
  </li>
  <li>
    <a href="/educacion">
      <i class="fas fa-user-graduate menu-resp" style="font-size: 120px"></i
      ><span class="texto-debajo">Educación</span>
    </a>
  </li>
  <li>
    <a href="/skills">
      <i class="fas fa-stream menu-resp" style="font-size: 120px"></i>
    </a>
    <span class="texto-debajo">Skills</span>
  </li>
  <li>
    <a href="/proyectos">
      <i class="fas fa-tasks menu-resp" style="font-size: 120px"></i
    ></a>
    <span class="texto-debajo">Proyectos</span>
  </li>
</div>
 -->

<div class="container overflow-hidden text-center mb-3">
  <div class="row gy-5">
    <div class="col-2">
      <div class="p-2 border bg-light">
        <a routerLink="/acercade">
          <i class="fas fa-address-card menu-resp" style="font-size: 100px"></i
          ><span class="texto-debajo">Acerca De</span></a
        >
      </div>
    </div>
    <div class="col-2">
      <div class="p-2 border bg-light">
        <a routerLink="/experiencia">
          <i class="fas fa-book menu-resp" style="font-size: 100px"></i>
          <span class="texto-debajo">Experiencia</span></a
        >
      </div>
    </div>
    <div class="col-2">
      <div class="p-2 border bg-light">
        <a routerLink="/educacion">
          <i class="fas fa-user-graduate menu-resp" style="font-size: 100px"></i
          ><span class="texto-debajo">Educación</span></a
        >
      </div>
    </div>
    <div class="col-2">
      <div class="p-2 border bg-light">
        <a routerLink="/skills">
          <i class="fas fa-stream menu-resp" style="font-size: 100px"></i>
          <span class="texto-debajo">Skills</span></a
        >
      </div>
    </div>

    <div class="col-2">
      <div class="p-2 border bg-light">
        <a routerLink="/proyectos">
          <i class="fas fa-tasks menu-resp" style="font-size: 100px"></i>
          <span class="texto-debajo">Proyectos</span></a
        >
      </div>
    </div>
  </div>
</div>
